.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    span {
        grid-row: 8;
        grid-column: 11;
        display: block;
        z-index: 0;
    }
}

.dots {
    &::after {
        content: '';
        margin-top: 31px;
        border-radius: 50%;
        border-color: #000;
        width: 50px;
        height: 50px;
        background: transparent;
        grid-row: 5 / span 5;
        grid-column: 9 /span 3;
        position: relative;
        box-shadow: 346px -165px 0 40px #04C4C7, 230px -60px 1px 40px #FFF992, 80px -60px 0px 40px #000;
        color: #000;
        display: block;
        box-sizing: border-box;
    }

    &::before {
        content: '';
        border-radius: 50%;
        border-color: #000;
        width: 400px;
        height: 400px;
        background: #382785;
        grid-row: 5 / span 5;
        grid-column: 9 /span 3;
        position: relative;
        color: #000;
        display: block;
    }
}

.triangle {
    border-left: 290px solid transparent;
    border-right: 130px solid transparent;
    border-top: 230px solid #E691B7;
    z-index: 1;
    margin-left: -60px;
    margin-top: 55px;
    width: 0px;
}