ul {
    padding-left: 2rem;
}
.columns {
    columns: 2;

    @media screen and (min-width:530px), 
    (min-width: 768px), 
    (min-width: 1280px) {
        columns: 3;
    }

    @media screen and (min-width:700px), 
    (min-width:850px), 
    (min-width: 1480px) {
        columns: 4;
    }

    @media screen and (min-width:1000px) {
        columns: 2;
    }
}