ul {
    padding-left: 2rem;
}
.columns {
    columns: 1;

    @media screen and (min-width: 380px) and (max-width: 529px),
    (min-width: 768px) and (max-width: 799px) {
        columns: 2;
    }

    @media screen and (min-width:530px) and (max-width: 699px), 
    (min-width: 800px) and (max-width:849px), 
    (min-width: 1280px) and (max-width: 1479px) {
        columns: 3;
    }

    @media screen and (min-width:700px) and (max-width:767px), 
    (min-width:850px) and (max-width: 999px), 
    (min-width: 1480px) {
        columns: 4;
    }

    @media screen and (min-width:1000px) and (max-width: 1279px) {
        columns: 2;
    }
}