body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: min-content 1fr;
    height: 100vh;
    background: #ccc;
}

header {
    grid-row: 1;
    min-height: 0;
    grid-column: 1 / span 12;
    z-index: 1;
}

main {
    grid-column: 1 / span 12;
    padding: 20px;
    background: rgba(255, 255, 255, 0.75);
    z-index: 1;
    grid-row: 2;
    position: relative;
    max-width: 72.5em;

    @media screen and (min-width: 76.8em) {
        grid-column: 3 / span 8;
    }

    @media screen and (min-width: 1000px) {
        background: rgba(255, 255, 255, 0.5);
    }
}

article {
    @media screen and (min-width: 1000px) {
        padding-right: 50%;
    }

    @media screen and (min-width: 1100px) {
        padding-right: 40%;
    }

    @media screen and (min-width: 1370px) {
        padding-right: 30%;
    }

    @media screen and (min-width: 1730px) {
        padding-right: 20%;
    }
}

footer {
    margin-top: auto;
    border: 2px solid black;
    grid-column: 1 / span 12;
    z-index: 1;
}