body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: min-content 1fr;
    height: 100vh;
    background: $bgcolor_color_alt_lite;
}

main {
    grid-column: 1 / span 12;
    padding: 20px;
    background: rgba(255, 255, 255, 0.75);
    z-index: 1;
    grid-row: 2;
    position: relative;
    max-width: 74.3em;
    margin-top: 4rem;

    @media screen and (min-width: 48em) {
        grid-column: 3 / span 7;
        margin-top: 0;
    }

    @media screen and (min-width: 62.5em) {
        background: rgba(255, 255, 255, 0.5);
    }
}

footer {
    margin-top: auto;
    grid-column: 1 / span 12;
    z-index: 1;
    background: #382785;
}