body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: min-content 1fr;
    height: 100vh;
    background: #ccc;
}

header {
    grid-row: 1;
    min-height: 0;
    grid-column: 1 / span 12;
    z-index: 1;
}

main {
    grid-column: 1 / span 12;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
    grid-row: 2;
    position: relative;

    @media screen and (min-width:47.875em) {
        grid-column: 3 / span 8;
    }
}

footer {
    margin-top: auto;
    border: 2px solid black;
    grid-column: 1 / span 12;
    z-index: 1;
}