.skew-box {
    transform: skew(20deg);
    overflow: hidden;

    &-left, &-right {
        div {
            transform: skew(-20deg);
        }
    }

    &-left {
        margin-left: -70px;

        img {
            padding-left: 7rem;
        }
    }

    &-right {
        overflow: visible;
        transform-origin: top left;

        div {
            margin-left: -8rem;

            p {
                padding: 0 4rem 0 8rem;
            }
        }
    }

    
}