@charset "UTF-8";
/* Variables */
/* Brand Colors */
/* Text Colors */
/* Default Text Colors */
/* Link Text Colors */
/* Store Locator Text Colors */
/* Button Text Colors */
/* Header Nav Text Colors */
/* Vehicle Picker Banner Text Colors */
/* PDP Text Colors */
/* 404 Text Colors */
/* Footer Text Colors */
/* Admin Helpers Text Colors */
/* Miscellaneous */
/* Background Colors */
/* Default Background Colors */
/* Button Background Colors */
/* Header Nav Background Colors */
/* Vehicle Picker Banner Background Colors */
/* PDP Product Card Background Colors */
/* Overlay Background Colors */
/* Product List Product Card Background Colors */
/* Store Locator Background Colors */
/* Footer Background Colors	*/
/* Admin Helpers Background Colors */
/* Alert Background Colors */
/* Error Message Background Colors */
/* Custom Landing Background Colors */
/* Miscellaneous */
/* Border Colors */
/* Default Border Colors */
/* Link Border Colors */
/* Store Locator Background Colors */
/* Button Border Colors */
/* Header Border Colors */
/* Overlay Border Colors */
/* Admin Helpers Border Colors */
/* PDP Border Colors */
/* Admin Helpers Border Colors */
/* Link Colors */
/* Common */
/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* HTML5 display definitions */
/* Corrects `block` display not defined in IE 8/9. */
article, aside, details, figcaption, figure, hgroup, section, summary {
  display: block;
}

/* Corrects `inline-block` display not defined in IE 8/9. */
audio, canvas {
  display: inline-block;
}

/* Prevents modern browsers from displaying `audio` without controls.
   Remove excess height in iOS 5 devices. */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* Addresses styling for `hidden` attribute not present in IE 8/9. */
[hidden] {
  display: none;
}

/* Base */
/* 1. Sets default font family to sans-serif.
   2. Prevents iOS text size adjust after orientation change, without disabling user zoom. */
html {
  font-family: sans-serif; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/* Removes default margin. */
body {
  margin: 0;
}

/* Links */
/* Addresses `outline` inconsistency between Chrome and other browsers. */
a:focus {
  outline: thin dotted;
}

/* Improves readability when focused and also mouse hovered in all browsers. */
a:active, a:hover {
  outline: 0;
}

/* Embedded content */
/* Removes border when inside `a` element in IE 8/9. */
img {
  border: 0;
}

/* Corrects overflow displayed oddly in IE 9. */
svg:not(:root) {
  overflow: hidden;
}

/* Figures */
/* Addresses margin not present in IE 8/9 and Safari 5. */
figure {
  margin: 0;
}

/* Tables */
/* Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Default Adjustments */
::-moz-selection {
  background: #3197fc;
  text-shadow: none;
}

::selection {
  background: #3197fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #CB171F;
  margin: 0 0 25px 0;
  padding: 0;
}

img {
  max-width: 100% !important;
  height: auto !important;
  vertical-align: middle;
}

p {
  margin: 0 0 1em 0;
}
@media print {
  p {
    color: #000;
    margin-bottom: 0.5rem;
  }
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir::before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyHidden.focusable:active, .visuallyHidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before, .clearfix::after, .bgWrapper::before, .bgWrapper::after {
  content: "";
  display: table;
}

.clearfix::after, .bgWrapper::after {
  clear: both;
}

.clearfix, .bgWrapper {
  zoom: 1;
}

.hide, .accessibleForm label.hide {
  display: none;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic !important;
}

.strike {
  text-decoration: line-through !important;
}

.vtop {
  vertical-align: top;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}

.nowrap {
  white-space: nowrap;
}

.borderless {
  border: 0;
  border-collapse: collapse;
}

.breakforprint {
  page-break-after: always;
}

.clear {
  overflow: hidden;
  clear: both;
  height: 0;
  margin: 0;
  font-size: 1px;
  line-height: 0;
}

.skip {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.important {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

/* ## Base List styles ## */
ul, ol {
  margin: 0 0 1em;
}
@media print {
  ul, ol {
    margin: 0 0 0.5em;
  }
}

.noBullet {
  padding: 0 0 0 1em;
  list-style-type: none;
}

.noIndent {
  padding: 0;
  list-style-type: none;
}

.bulletSquare {
  list-style-type: square;
}

/* ## Note/hint text or link ## */
.note {
  font-size: 0.8em;
  color: #000;
}
.note a, .note a:link, .note a:visited {
  text-decoration: underline;
}

/* PRIMARY LAYOUT STYLES */
/* Enter unique styles for site here */
/* Removed :link from the list to help cut down on writing time and prevent the need for extra specificity for classes */
a, a:visited {
  color: #FFF;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #FFF;
  text-decoration: none;
}

a:active, a:focus {
  outline: 0;
}

.largeLink {
  margin: 0 0 15px 0;
}
.largeLink a {
  font-size: 1em;
  font-weight: bold;
}
.largeLink a.pdf {
  background: url(/cms/images/layout/icon_pdf.png) no-repeat 0 2px;
  padding: 0 0 0 34px;
  display: inline-block;
}

/* Link Modifiers */
a:hover .text, a:active .text, a:focus .text {
  text-decoration: none;
}

a [class^=icon-] {
  text-decoration: none;
}
a.removeLink {
  color: #CB171F;
  font-size: 0.9em;
}

/* Link Lists */
/* We use '<ul class="linkList">' when setting a list of organized links. */
ul.linkList {
  margin: 0 0 15px 0;
  padding: 0;
  list-style-type: none;
}
ul.linkList li {
  margin-bottom: 8px;
}
ul.linkList a, ul.linkList a:link, ul.linkList a:visited {
  text-decoration: none;
}
ul.linkList a:hover, ul.linkList a:active {
  text-decoration: underline;
}

/* ## Start Up Layout - Use, modify, or delete as need be ## */
html, body {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
}

.siteBody {
  position: relative;
  z-index: 6;
}
.siteInner {
  background: #000;
  color: #FFF;
  margin: 0 -10px 30px -10px;
}
@media only screen and (min-width: 58.75em) {
  .siteInner {
    margin: 0 0 30px 0;
  }
}
@media only screen and (max-width: 48em) {
  .siteInner {
    margin-bottom: 0;
  }
}
.siteInner p {
  color: #000;
  font-size: 0.875em;
  font-weight: 700;
}
@media only screen and (max-width: 58.75em) {
  .siteInner p {
    font-size: 0.813em;
  }
}
.siteInner .block ul li, .siteInner .block ol li {
  color: #000;
  font-size: 0.875em;
  font-weight: 700;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content 1fr;
  background: #CCC;
  height: 100vh;
}
@media print {
  body {
    height: auto;
  }
}

main {
  grid-column: 1/span 12;
  padding: 20px;
  background: rgba(255, 255, 255, 0.75);
  z-index: 1;
  grid-row: 2;
  position: relative;
  max-width: 74.3em;
  margin-top: 4rem;
}
@media screen and (min-width: 48em) {
  main {
    grid-column: 3/span 7;
    margin-top: 0;
  }
}
@media screen and (min-width: 62.5em) {
  main {
    background: rgba(255, 255, 255, 0.5);
  }
}
@media print {
  main {
    background: #FFF;
    margin-top: 0;
    max-width: 100%;
  }
}

footer {
  margin-top: auto;
  grid-column: 1/span 12;
  z-index: 1;
  background: #382785;
}
@media print {
  footer {
    display: none;
  }
}

header {
  position: fixed;
  grid-template-columns: subgrid;
  grid-row: 1;
  min-height: 0;
  grid-column: 1/span 12;
  background: #382785;
  height: 6.1rem;
  z-index: 2;
  width: 103%;
  border-bottom: 2px solid #382785;
}
@media screen and (min-width: 48em) {
  header {
    display: grid;
    position: relative;
    width: auto;
    border-bottom: 0;
    z-index: 1;
  }
}
@media print {
  header {
    display: none;
  }
}
header nav {
  grid-column: 1/span 12;
  width: 100%;
}
@media screen and (min-width: 48em) {
  header nav {
    width: auto;
    grid-column: 3/span 7;
  }
}
header nav, header nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 48em) {
  header nav, header nav ul {
    grid-template-columns: subgrid;
  }
}
header nav ul {
  grid-column: 1/span 7;
  list-style: none;
  margin: 0 -2rem 0px -5rem;
  position: absolute;
  width: 113%;
  z-index: 1;
}
@media screen and (min-width: 48em) {
  header nav ul {
    margin-left: -4rem;
    position: relative;
  }
}
@media screen and (min-width: 116.875em) {
  header nav ul {
    grid-template-columns: repeat(7, 16rem);
  }
}
header nav ul li {
  background: rgba(255, 255, 255, 0.75);
  font-weight: bold;
  transform: skew(-34deg);
  margin: 0 0 0 0.2rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  text-align: center;
  display: none;
}
header nav ul li:first-child {
  display: list-item;
  text-align: left;
}
@media screen and (min-width: 48em) {
  header nav ul li:first-child {
    border-bottom: 0;
  }
}
header nav ul li:first-child a span {
  padding-left: 5rem;
}
@media screen and (min-width: 48em) {
  header nav ul li:first-child a span {
    padding-left: 2rem;
  }
}
@media screen and (min-width: 48em) {
  header nav ul li:first-child a {
    text-align: center;
  }
}
header nav ul li button {
  color: #382785;
  display: inline-block;
  padding: 2rem;
  background: transparent;
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-transform: uppercase;
}
header nav ul li button:hover, header nav ul li button:focus {
  background: #FFF;
}
header nav ul li button span {
  transform: skew(34deg);
  display: inline-block;
}
@media screen and (min-width: 48em) {
  header nav ul li button {
    display: none;
  }
}
header nav ul li.col--2 {
  display: list-item;
}
@media screen and (min-width: 48em) {
  header nav ul li.col--2 {
    border-bottom: 0;
  }
}
header nav ul li.col--2.open ~ li {
  transform: skew(0deg);
  border-left: 2px solid #382785;
  border-bottom: 2px solid #382785;
  display: block;
  background: #382785;
  margin-left: -2.1rem;
  width: 100%;
}
header nav ul li.col--2.open ~ li a {
  background: rgba(255, 255, 255, 0.75);
}
header nav ul li.col--2.open ~ li a:hover, header nav ul li.col--2.open ~ li a:focus, header nav ul li.col--2.open ~ li a.active {
  background: #FFF;
}
header nav ul li.col--2.open ~ li span {
  transform: skew(0deg);
}
header nav ul li.col--2.open + .col--3 {
  margin-top: 2px;
}
@media screen and (min-width: 48em) {
  header nav ul li.col--2 {
    display: none;
  }
}
header nav ul li a:hover, header nav ul li a:focus, header nav ul li a.active {
  background: #FFF;
}
header nav ul li a, header nav ul li a:visited, header nav ul li a button {
  width: 100%;
  height: 100%;
  display: block;
}
header nav ul li a span, header nav ul li a:visited span, header nav ul li a button span {
  color: #382785;
  transform: skew(34deg);
  display: inline-block;
  padding: 2rem;
}
@media screen and (min-width: 48em) {
  header nav ul li {
    display: list-item;
  }
}

.col--1 {
  grid-column: 1;
}
.col--2, .col--3, .col--4, .col--5, .col--6, .col--7 {
  grid-column: 2;
}
@media screen and (min-width: 48em) {
  .col--3 {
    grid-column: 3;
  }
  .col--4 {
    grid-column: 4;
  }
  .col--5 {
    grid-column: 5;
  }
  .col--6 {
    grid-column: 6;
  }
  .col--7 {
    grid-column: 7;
  }
}

.background {
  position: fixed;
  width: 100vw;
  max-width: 200rem;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
@media print {
  .background {
    display: none;
  }
}
.background span {
  grid-row: 8;
  grid-column: 11;
  display: block;
  z-index: 0;
}

.dots::after {
  content: "";
  margin-top: 31px;
  border-radius: 50%;
  border-color: #000;
  width: 50px;
  height: 50px;
  background: transparent;
  grid-row: 5/span 5;
  grid-column: 9/span 3;
  position: relative;
  box-shadow: 346px -165px 0 40px #96CAB4, 230px -60px 1px 40px #FFF992, 80px -60px 0px 40px #04C4C7;
  color: #000;
  display: block;
  box-sizing: border-box;
}
.dots::before {
  content: "";
  border-radius: 50%;
  border-color: #000;
  width: 400px;
  height: 400px;
  background: #382785;
  grid-row: 5/span 5;
  grid-column: 9/span 3;
  position: relative;
  color: #000;
  display: block;
}

.triangle {
  border-left: 290px solid transparent;
  border-right: 130px solid transparent;
  border-top: 230px solid #E691B7;
  z-index: 1;
  margin-left: -60px;
  margin-top: 55px;
  width: 0px;
}

.rectangle {
  width: 200px;
  height: 0px;
  border: 10px solid #000;
  background: #000;
  transform: rotate(-50deg);
  margin-top: 175px;
  margin-left: -69px;
}
.rectangle::before {
  content: "";
  width: 200px;
  height: 0px;
  border: 10px solid #000;
  background: #000;
  margin-top: 25px;
  margin-left: -11px;
  z-index: 0;
  display: block;
}
.rectangle::after {
  content: "";
  width: 200px;
  height: 0px;
  border: 10px solid #000;
  background: #000;
  margin-top: 15px;
  margin-left: -10px;
  z-index: 0;
  display: block;
}

a, a:visited {
  color: #382785;
  text-decoration: underline;
}
a:hover, a:focus, a:visited:hover, a:visited:focus {
  text-decoration: none;
}

.ext {
  margin-right: 25px;
}

ul {
  padding-left: 2rem;
}

.content {
  transition: all 0.1s linear;
}
@media screen and (min-width: 62.5em) {
  .content {
    padding-right: 50%;
  }
}
@media screen and (min-width: 70em) {
  .content {
    padding-right: 40%;
  }
}
@media screen and (min-width: 85.625em) {
  .content {
    padding-right: 30%;
  }
}
@media screen and (min-width: 98.75em) {
  .content {
    padding-right: 20%;
  }
}
@media screen and (min-width: 107.5em) {
  .content {
    padding-right: 10%;
  }
}
@media screen and (min-width: 125em) {
  .content {
    padding-right: 0;
  }
}
.content--full-width {
  padding-right: 0;
}
.content--full-width_two-col {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
@media screen and (min-width: 1000px) {
  .content--full-width_two-col {
    flex-direction: row;
  }
}
.content--full-width_two-col-img {
  flex-direction: column-reverse;
}
@media screen and (min-width: 1000px) {
  .content--full-width_two-col-img {
    flex-direction: initial;
    border: 1px solid #382785;
  }
}
@media screen and (min-width: 1000px) {
  .content--full-width_two-col div {
    flex: 1 0 50%;
  }
}

.columns {
  columns: 1;
}
@media screen and (min-width: 1000px) and (max-width: 1049px) {
  .columns {
    columns: 1;
  }
}
@media screen and (min-width: 380px) and (max-width: 529px), (min-width: 768px) and (max-width: 799px), (min-width: 1050px) and (max-width: 1279px) {
  .columns {
    columns: 2;
  }
}
@media screen and (min-width: 530px) and (max-width: 699px), (min-width: 800px) and (max-width: 999px), (min-width: 1280px) and (max-width: 1479px) {
  .columns {
    columns: 3;
  }
}
@media screen and (min-width: 700px) and (max-width: 767px), (min-width: 1480px) {
  .columns {
    columns: 4;
  }
}

.cover {
  align-self: center;
}

@media screen and (min-width: 1000px) {
  .skew-box {
    transform: skew(20deg);
    overflow: hidden;
  }
}
@media screen and (min-width: 1000px) {
  .skew-box-left div, .skew-box-right div {
    transform: skew(-20deg);
  }
}
@media screen and (min-width: 1000px) {
  .skew-box-left {
    margin-left: -70px;
  }
}
.skew-box-left div {
  height: 100%;
}
@media screen and (min-width: 1000px) {
  .skew-box-left img {
    padding-left: 7rem;
    height: 100% !important;
  }
}
@media screen and (min-width: 1000px) {
  .skew-box-right {
    overflow: visible;
    transform-origin: top left;
  }
}
@media screen and (min-width: 1000px) {
  .skew-box-right div {
    margin-left: -8rem;
  }
}
@media screen and (min-width: 1000px) {
  .skew-box-right div p {
    padding: 0 7rem 0 8rem;
  }
}
.skew-box-right h1 + p {
  margin: -1.7rem 0 1rem;
  padding-left: 4px;
  font-style: italic;
}

a[href^=http].ext::after, a[href^="https://"].ext::after {
  content: "";
  width: 20px;
  height: 20px;
  margin-left: 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24.00 24.00' fill='none' xmlns='http://www.w3.org/2000/svg' transform='matrix(1, 0, 0, 1, 0, 0)rotate(0)' stroke='%23382785'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round' stroke='%23CCCCCC' stroke-width='0.048'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg id='Interface / External_Link'%3E%3Cpath id='Vector' d='M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11' stroke='%23382785' stroke-width='2.4' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: absolute;
}
@media screen and (min-width: 1600px) {
  a[href^=http].ext::after, a[href^="https://"].ext::after {
    margin-left: 5px;
  }
}

.photo-gallery div {
  background-size: 40px;
  background-position: right bottom;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100' height='100' viewBox='0 0 64 64'%0Astyle='fill:%23FFFFFF;'%3E%3Cpath d='M 24 2.8886719 C 12.365714 2.8886719 2.8886719 12.365723 2.8886719 24 C 2.8886719 35.634277 12.365714 45.111328 24 45.111328 C 29.036552 45.111328 33.664698 43.331333 37.298828 40.373047 L 52.130859 58.953125 C 52.130859 58.953125 55.379484 59.435984 57.396484 57.333984 C 59.427484 55.215984 58.951172 52.134766 58.951172 52.134766 L 40.373047 37.298828 C 43.331332 33.664697 45.111328 29.036548 45.111328 24 C 45.111328 12.365723 35.634286 2.8886719 24 2.8886719 z M 24 7.1113281 C 33.352549 7.1113281 40.888672 14.647457 40.888672 24 C 40.888672 33.352543 33.352549 40.888672 24 40.888672 C 14.647451 40.888672 7.1113281 33.352543 7.1113281 24 C 7.1113281 14.647457 14.647451 7.1113281 24 7.1113281 z'%3E%3C/path%3E%3C/svg%3E");
}
@media screen and (max-height: 749px) and (max-width: 915px) {
  .photo-gallery div {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100' height='100' viewBox='0 0 64 64'%0Astyle='fill:%23FFFFFF;'%3E%3Cpath d='M 24 2.8886719 C 12.365714 2.8886719 2.8886719 12.365723 2.8886719 24 C 2.8886719 35.634277 12.365714 45.111328 24 45.111328 C 29.036552 45.111328 33.664698 43.331333 37.298828 40.373047 L 52.130859 58.953125 C 52.130859 58.953125 55.379484 59.435984 57.396484 57.333984 C 59.427484 55.215984 58.951172 52.134766 58.951172 52.134766 L 40.373047 37.298828 C 43.331332 33.664697 45.111328 29.036548 45.111328 24 C 45.111328 12.365723 35.634286 2.8886719 24 2.8886719 z M 24 7.1113281 C 33.352549 7.1113281 40.888672 14.647457 40.888672 24 C 40.888672 33.352543 33.352549 40.888672 24 40.888672 C 14.647451 40.888672 7.1113281 33.352543 7.1113281 24 C 7.1113281 14.647457 14.647451 7.1113281 24 7.1113281 z'%3E%3C/path%3E%3C/svg%3E") !important;
  }
}
@media screen and (min-width: 48em) {
  .photo-gallery div {
    background-image: none;
  }
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-gap: 2rem;
  list-style: none;
  padding: 0;
  justify-content: space-evenly;
}
@media screen and (min-width: 48.0625em) {
  .photo-gallery {
    justify-content: start;
  }
}
.photo-gallery li {
  background: #FFF;
  border-radius: 1rem;
  border: 1px solid #000;
  overflow: hidden;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  position: relative;
}
.photo-gallery li:hover div, .photo-gallery li:focus-within div {
  color: #FFF;
  padding: 1rem;
}
@media screen and (max-height: 749px) and (max-width: 915px) {
  .photo-gallery li:hover div, .photo-gallery li:focus-within div {
    border-top: 0 !important;
    background-color: transparent !important;
  }
}
@media screen and (min-width: 48em) {
  .photo-gallery li:hover div, .photo-gallery li:focus-within div {
    border-top: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.photo-gallery li:hover div button, .photo-gallery li:focus-within div button {
  opacity: 1;
}
.photo-gallery li div {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
}
@media screen and (max-height: 749px) and (max-width: 915px) {
  .photo-gallery li div {
    height: 100% !important;
    top: 0 !important;
  }
}
@media screen and (min-width: 48em) {
  .photo-gallery li div {
    height: auto;
    padding: 0;
    margin: 0;
    z-index: 2;
    bottom: 0;
    color: transparent;
    transition: all 0.1s linear;
    top: auto;
  }
}
@media print {
  .photo-gallery li div {
    position: static;
    padding: 1rem;
  }
}
.photo-gallery li div p {
  color: transparent;
}
@media screen and (max-height: 749px) and (max-width: 915px) {
  .photo-gallery li div p {
    color: transparent !important;
  }
}
@media screen and (min-width: 48em) {
  .photo-gallery li div p {
    color: inherit;
  }
}
.photo-gallery li div button {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}
@media screen and (max-height: 749px) and (max-width: 915px) {
  .photo-gallery li div button {
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    margin: 0 !important;
    border: 0 !important;
    background: transparent !important;
  }
}
@media screen and (min-width: 48em) {
  .photo-gallery li div button {
    opacity: 0;
    margin: 1rem auto;
    text-align: center;
    display: block;
    border: 1px solid #000;
    border-radius: 1rem;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #382785;
    outline: none;
    height: auto;
    width: auto;
    background-color: #FFF;
    position: static;
  }
}
.photo-gallery li div button span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
@media screen and (max-height: 749px) and (max-width: 915px) {
  .photo-gallery li div button span {
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
  }
}
@media screen and (min-width: 48em) {
  .photo-gallery li div button span {
    clip: initial;
    height: auto;
    margin: initial;
    overflow: initial;
    padding: initial;
    position: static;
    width: auto;
  }
}
.photo-gallery li div button:active {
  box-shadow: inset 0px -1px 10px 2px rgba(0, 0, 0, 0.75);
}
@media print {
  .photo-gallery li div button {
    display: none;
  }
}

/* Style for the modal container */
.modal {
  display: none;
  position: fixed;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding: 0;
}
@media screen and (max-height: 749px) and (max-width: 915px) {
  .modal {
    padding: 0 !important;
  }
}
@media screen and (min-width: 48em) {
  .modal {
    top: 0;
    left: 0;
    padding: 14px;
  }
}
.modal.open {
  display: block;
}
@media screen and (min-width: 48em) {
  .modal.open {
    display: flex;
  }
}
.modal-title {
  max-width: 75%;
  color: #FFF;
  padding: 0 10px;
  grid-column: 1/span 5;
  height: min-content;
}
@media screen and (max-height: 749px) and (max-width: 915px) {
  .modal-title {
    max-width: 75% !important;
    color: #FFF !important;
  }
}
@media screen and (min-width: 48em) {
  .modal-title {
    max-width: initial;
    color: #000;
    padding: 0;
  }
}
.modal-wrapper {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 100%;
  height: 100%;
  transition: all 0.1s linear;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: start;
}
@media screen and (max-height: 749px) and (max-width: 915px) {
  .modal-wrapper {
    max-width: 100% !important;
    max-height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 10px !important;
  }
}
@media screen and (min-width: 48em) {
  .modal-wrapper {
    display: block;
    background-color: #fff;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1100px) {
  .modal-wrapper {
    max-width: 50%;
  }
}
@media screen and (min-width: 1630px) {
  .modal-wrapper {
    max-width: 700px;
  }
}
.modal-wrapper.ext {
  margin: 0;
  background: #FFF;
  display: block;
}
@media screen and (min-width: 48em) {
  .modal-wrapper.ext {
    height: min-content;
  }
}
.modal-wrapper.ext .modal-title {
  color: #000;
}
.modal-wrapper.ext button:not(.modal-close-button), .modal-wrapper.ext .ext-link {
  padding: 1rem;
  width: 100%;
  background: #FFF;
  border: 1px solid #000;
  border-radius: 1rem;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.1s linear;
}
.modal-wrapper.ext button:not(.modal-close-button):focus, .modal-wrapper.ext button:not(.modal-close-button):hover, .modal-wrapper.ext .ext-link:focus, .modal-wrapper.ext .ext-link:hover {
  background: #000;
  color: #FFF;
}
@media screen and (min-width: 48em) {
  .modal-wrapper.ext button:not(.modal-close-button), .modal-wrapper.ext .ext-link {
    width: 30%;
  }
}
.modal-wrapper.ext .ext-link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid #382785;
  background: #382785;
  color: #FFF;
}
.modal-wrapper.ext .ext-link:focus, .modal-wrapper.ext .ext-link:hover {
  background: #FFF;
  color: #382785;
}
.modal-wrapper.ext div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-evenly;
}
.modal-content { /* Style for the modal content */
  overflow-y: auto;
  height: 100%;
  text-align: center;
  grid-row: 2;
  grid-column: 1/span 5;
  margin: 0 -10px;
}
@media screen and (max-height: 749px) and (max-width: 915px) {
  .modal-content {
    max-height: 90% !important;
  }
}
@media screen and (min-width: 48em) {
  .modal-content {
    margin: 0;
    height: 90%;
  }
}
.modal-close-button {
  position: absolute;
  top: 20px;
  right: 18px;
  border: 1px solid #000;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px;
}
@media screen and (max-height: 749px) and (max-width: 915px) {
  .modal-close-button {
    top: 20px !important;
    right: 18px !important;
    border-radius: 1rem !important;
    padding: 10px !important;
  }
}
@media screen and (min-width: 48em) and (min-height: 750px) {
  .modal-close-button {
    top: 0;
    right: 0;
    margin-top: -15px;
    margin-right: -15px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 0;
  }
  .modal-close-button .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .modal-close-button .visually-hidden.focusable:active, .modal-close-button .visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
  .modal-close-button::before {
    content: "❌";
    display: block;
    color: #000;
    filter: brightness(0);
  }
}

#js-ext-target {
  font-weight: bold;
}

input, textarea {
  margin: 1rem 0;
  font-size: 1.4rem;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
}
input[type=submit], textarea[type=submit] {
  background: #382785;
  color: #FFF;
  border: 1px solid #382785;
  border-radius: 1rem;
  font-weight: 800;
  display: block;
  width: 100px;
  margin-right: 0;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.1s linear;
}
input[type=submit]:focus, input[type=submit]:hover, textarea[type=submit]:focus, textarea[type=submit]:hover {
  background: #FFF;
  color: #382785;
}

@media print {
  .no-print {
    display: none;
  }
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
@media print {
  body {
    font-size: 1.2rem;
    overflow: auto;
  }
  body::-webkit-scrollbar {
    display: none;
  }
}

/* =16px */
/*Addresses `h1` font sizes within `section` and `article` in Firefox 4+, Safari 5, and Chrome. */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px 0;
}
@media print {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
  }
}

h1 {
  font-size: clamp(3.38rem, -0.764rem + 12.4444vw, 4.5rem);
}
@media print {
  h1 {
    margin-bottom: 0;
  }
}

h2, .label {
  background: #382785;
  padding: 5px 0 5px 38px;
  color: #FFF;
  font-size: clamp(2rem, 1.2857rem + 2.5714vw, 3rem);
  position: relative;
  margin-left: -38px;
  margin-right: -38px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  transform: skew(-34deg);
  display: block;
}
@media print {
  h2, .label {
    box-shadow: none;
    color: #000;
    background: #FFF;
    margin-bottom: 0;
    box-shadow: none;
    transform: none;
    border-bottom: 1px solid #000;
    margin: 0 0 0.5rem 0;
    padding: 5px;
  }
}
h2 span, .label span {
  transform: skew(34deg);
  display: inline-block;
}
@media print {
  h2 span, .label span {
    transform: none;
  }
}

h3 {
  font-size: 2rem;
}
h3 + p {
  font-style: italic;
  font-size: 1.8rem;
  margin: 0 0 1rem;
}
@media print {
  h3 + p {
    margin-bottom: 0.5rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
  }
}

h4 {
  margin: 0;
  font-size: 1.8rem;
}
h4 + p {
  font-style: italic;
}

/* Addresses styling not present in IE 8/9, Safari 5, and Chrome. */
abbr[title] {
  border-bottom: 1px dotted;
}

/* Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
b, strong {
  font-weight: bold;
}

/* Addresses styling not present in Safari 5 and Chrome. */
dfn {
  font-style: italic;
}

/* Addresses styling not present in IE 8/9. */
mark {
  background: #FFF;
  color: #000;
}

/* Corrects font family set oddly in Safari 5 and Chrome. */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* Improves readability of pre-formatted text in all browsers. */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Sets consistent quote types. */
q {
  quotes: "“" "”" "‘" "’";
}

/* Addresses inconsistent and variable font size in all browsers. */
small {
  font-size: 80%;
}

/* Prevents `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*# sourceMappingURL=styles.css.map */
